*~
.*.swp
.DS_Store
/.vagrant
/apt-cache
/assets
/css/site.css
/files/*.xls
/images/uploads
/index.php
/logs
/protected/config/local.php
/protected/runtime/
/protected/scripts/data/dbchanges.txt
/protected/scripts/data/lastIndexer.txt
/protected/scripts/data/lastdataset.txt
/protected/scripts/set_env.sh
/protected/yiic.php
sitemap.xml
sphinx_dev3.conf
yii
.*.sql
/protected/tests/
*.backup
*.dump
/chef/chef-repo/
/nbproject/private//nbproject/project.properties
/nbproject/project.xml
/nbproject/private/private.properties
/nbproject/private/private.xml
/nbproject/project.properties
/giga.sql
/giga_cache
